@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }
  body {
    width: 100vw;
    overflow-x: hidden;
  }
  * {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }
}